
.liv{
    
    position:relative;
    min-width: 240px;    
    margin-left: 30px;
    padding: 10px 20px;
    border:10px dotted #1d89ff;
    display:inline-block;
    margin-bottom: 20px;
    
}
#liv6{
    
    position:relative; 
    padding: 30px;  
    display:block;
    
}
#fac{
position:relative;
margin-top: 0px;
}
.fac{
    
    position:relative;
    min-width: 240px;
    margin-left: 30px;
    padding: 10px 20px;
    border:10px dotted #1d89ff;
    display:inline-block;
    margin-bottom: 20px;
}
#fac6{
    
    position:relative; 
    padding:30px;   
    display:block;
}
#butonResL{
    padding: 2px;
    border-radius: 10px;
    font-weight: 40;
}
#butonResF{
    padding: 2px;
    border-radius: 10px;
    font-weight: 40;
}