
#liv1{
    
    position:relative;
    width: 150px;
    height: 150px;    
    margin-left: 30px;
    padding: 10px 20px;
    border:10px dotted grey;
    display:inline-block;
    
}
#liv2{
    
    position:relative;
    width: 150px;
    height: 150px;    
    margin-left: 30px;
    padding: 10px 20px;
    border:10px dotted grey;
    display:inline-block;
    
}
#liv3{
    
    position:relative; 
    width: 150px;
    height: 150px;
    margin-left: 30px;
    padding: 10px 20px;
    border:10px dotted grey; 
    display:inline-block;
   
}
#liv4{
    
    position:relative; 
    width: 150px;
    height: 150px;
    margin-left: 30px;
    padding: 10px 20px;
    border:10px dotted grey; 
    display:inline-block;
   
}
#liv5{
    
    position:relative;
    width: 150px;
    height: 150px;
    margin-left: 30px;
    padding: 10px 20px;
    border:10px dotted grey; 
    display:inline-block;
   
}
#liv6{
    
    position:relative; 
    padding: 50px;  
    display:block;
}

#containerLiv{
    position:relative;
    
}
#fac{
position:relative;
margin-top: 0px;
}
#fac1{
    
    position:relative;
    width: 150px;
    height: 150px;
    margin-left: 30px;
    padding: 10px 20px;
    border:10px dotted grey;
    display:inline-block;
}
#fac2{
    
    position:relative;
    width: 150px;
    height: 150px;
    margin-left: 30px;
    padding: 10px 20px ;
    border:10px dotted grey; 
    display:inline-block;
}
#fac3{
    
    position:relative;
    width: 150px;
    height: 150px;  
    margin-left: 30px;
    padding: 10px 20px;
    border:10px dotted grey;  
    display:inline-block;
}
#fac4{
    
    position:relative; 
    width: 150px;
    height: 150px; 
    margin-left: 30px;
    padding: 10px 20px;
    border:10px dotted grey;  
    display:inline-block;
}
#fac5{
    
    position:relative;
    width: 150px;
    height: 150px;  
    margin-left: 30px;
    padding: 10px 20px;
    border:10px dotted grey;  
    display:inline-block;
}
#fac6{
    
    position:relative; 
    padding:50px;   
    display:block;
}

#containerFac{
    position:relative; 
}


