
#liv1{
    
    position:absolute;
    top:100px;
    margin-left: 30px;
    padding: 50px;
    border:5px dotted grey;
}
#liv2{
    
    position:absolute; 
    top:100px;
    left:300px;
    padding: 50px;
    border:5px dotted grey;    
}
#liv3{
    
    position:absolute; 
    top:100px;
    left:550px;
    padding: 50px;
    border:5px dotted grey;    
}
#liv4{
    
    position:absolute; 
    top:100px;
    left:800px;
    padding: 50px;
    border:5px dotted grey;    
}

#container1{
    
}
#fac{
    position:relative;
    top:300px;
}
#fac1{
    
    position:absolute;
    top:450px;
    margin-left: 30px;
    padding:50px;
    border:5px dotted grey;
}
#fac2{
    
    position:absolute; 
    top:450px;
    left:400px;
    padding:50px;
    border:5px dotted grey;    
}
#fac3{
    
    position:absolute; 
    top:450px;
    left:650px;
    padding:50px;
    border:5px dotted grey;    
}
#fac4{
    
    position:absolute; 
    top:450px;
    left:800px;
    padding:50px;
    border:5px dotted grey;    
}

#container2{
    
}


